﻿<h2>Contact List</h2>
<hr />
<table class="table table-responsive">
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Address</th>
        <th></th>
        <th></th>
    </tr>
    <tr ng-repeat="contact in contacts">
        <td ng-bind="contact.FirstName"></td>
        <td ng-bind="contact.LastName"></td>
        <td ng-bind="contact.Address"></td>
        <td><a href="savecontact.html">Edit</a></td>
        <td><a target="_self" ng-click="DeleteContact(contact.ContactID)">Delete</a></td>
    </tr>
</table>