﻿<h2>Save contact</h2>
<hr />
<form novalidate role="form" name="contactForm" ng-submit="Submit()">
    <div class="form-group">
        <label for="FirstName">First Name: </label>
        <input type="text" name="FirstName" ng-model="Contact.FirstName" ng-class="IsFormSubmitted ? 'ng-dirty' : ''"
               class="form-control" required />
        <span class="error"
              ng-show="(contactForm.FirstName.$dirty || IsFormSubmitted) && contactForm.ContactName.$error.required">First Name required.</span>
    </div>
    <div class="form-group">
        <label for="LastName">Last Name: </label>
        <input type="text" name="LastName" ng-model="Contact.LastName" ng-class="IsFormSubmitted ? 'ng-dirty' : ''"
               class="form-control" required />
        <span class="error"
              ng-show="(contactForm.LastName.$dirty || IsFormSubmitted) && contactForm.LastName.$error.required">Last Name required.</span>
  
    <div class="form-group">
        <label for="Address">Address: </label>
        <textarea name="Address" ng-model="Contact.Address" class="form-control"></textarea>
    </div>
    <input type="submit" class="btn btn-default" />

</form>