﻿@model IEnumerable<WebApplication3.ViewModel.ContactModel>
@{
    ViewBag.Title = "Contact List";
    var grid = new WebGrid(source: Model, canPage: true, canSort: true, rowsPerPage: 10);
}

<h3>Contact List</h3>
<div style="overflow:auto">

    @grid.GetHtml(
    tableStyle: "table table-responsive",
    columns: grid.Columns
        (
            grid.Column("FirstName", "First Name"),
            grid.Column("LastName", "Last Name"),
            grid.Column("ContactNo1", "Contact No1"),
            grid.Column("ContactNo2", "Contact No2"),
            grid.Column("EmailID", "Email ID"),
            grid.Column(header: "Image", format:@<text>@Html.Raw((item.ImagePath == null ? "" : "<img width='100' alt='' src='/image/" + item.ImagePath + "'"))</text>),
grid.Column(header: "View", format: (item) => Html.ActionLink("View", "View", "Home", new { id = item.ContactID }, null)),
grid.Column(header: "Edit", format: (item) => Html.ActionLink("Edit", "Edit", "Home", new { id = item.ContactID }, null)),
grid.Column(header: "Delete", format: (item) => Html.ActionLink("Delete", "Delete", "Home", new { id = item.ContactID }, null))
)
)
</div>
